<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee; http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>C2_Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Main</display-name>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.controllers.Main</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentController</display-name>
		<servlet-name>StudentController</servlet-name>
		<servlet-class>com.controllers.StudentController</servlet-class>
	</servlet>
	<servlet>
		<display-name>SubjectController</display-name>
		<servlet-name>SubjectController</servlet-name>
		<servlet-class>com.controllers.SubjectController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TeacherController</display-name>
		<servlet-name>TeacherController</servlet-name>
		<servlet-class>com.controllers.TeacherController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClassesController</display-name>
		<servlet-name>ClassesController</servlet-name>
		<servlet-class>com.controllers.ClassesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/StudentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/listStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/addStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/SubjectController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/addSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/listSubjects</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/deleteSubject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/subject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherController</servlet-name>
		<url-pattern>/TeacherController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherController</servlet-name>
		<url-pattern>/addTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherController</servlet-name>
		<url-pattern>/deleteTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherController</servlet-name>
		<url-pattern>/listTeachers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherController</servlet-name>
		<url-pattern>/teacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassesController</servlet-name>
		<url-pattern>/ClassesController</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ClassesController</servlet-name>
		<url-pattern>/classes</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>